.button{
	font-size: 30px;
}

.container{
	width:35%;
	margin: auto;
}

.row{
	margin-left: 2px;
	width: 150px;
}

.btn{
	margin:1px;
	align-items: center;
}
.heading{
	margin-top: 10px;
	text-align: center;
	font-weight:800;
	align-items: center;
}

#textarea{
	max-width: 230px;
}